<h2>Listes des articles</h2>
<br>

<ul>
    <li *ngFor="let article of articles" [ngClass]="{
        'important': article.importance === 'élevée',
        'moyen': article.importance === 'moyenne',
        'faible': article.importance === 'faible'
      }">
        <h3>{{ article.title }}</h3>
        <p>{{ article.content }}</p>
        <hr>
    </li>
</ul>

<input 
    type="text" 
    placeholder="Titre de l'article" 
    [(ngModel)]="newArticleTitle"
    class="input"
/>

<br>

<textarea 
    placeholder="Contenu de l'article" 
    [(ngModel)]="newArticleContent"
    class="textarea"
></textarea>

<br>
<select [(ngModel)]="newArticleImportance" class="input">
    <option value="élevée">Élevée</option>
    <option value="moyenne">Moyenne</option>
    <option value="faible">Faible</option>
</select>
<br>
<button 
    (click)="ajouterArticle()" 
    [disabled]="newArticleTitle.trim() === ''"
    class="btn"
>
    Ajouter un article
</button>
