p {
    margin: 8px 0;
    font-size: 16px;
    color: #444;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 6px 10px;
    font-size: 14px;
    border: 1px solid #bbb;
    border-radius: 4px;
    margin-left: 10px;
  }
  
  br {
    line-height: 10px;
  }
  
  :host {
    display: block;
    margin-top: 1rem;
  }
  