h2 {
    color: #369;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  ul {
    padding-left: 20px;
    margin-top: 10px;
  }
  
  li {
    margin: 6px 0;
    font-size: 16px;
    color: #444;
    list-style-type: disc;
  }
  